
header , footer{
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 10px;
}
body{
    margin: 0;
    font-family: "Franklin Gothic Book",sans-serif;
}
/* main navigation */
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav{
    background-color: lightgoldenrodyellow;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 14px 25px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: lightyellow;
}
nav ul li a.active{
    background-color: yellowgreen;
}

/* Sidebar Section */
aside{
    float: left;
    min-width: 200px;
}
aside ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
aside ul li a{
    text-decoration: none;
    color:  black;
    padding: 14px 18px;
    display: block;
}
aside ul li a:hover{
    background-color: yellow;
    color: black;
}

/* main Section */
section{
    margin-left: 200px;
    border-left: 2px solid yellow;
    padding: 10px;
}
details{
    background-color: greenyellow;
    padding: 14px;
    margin: 5px;
    color: black;
}
article{
    background-color: yellow;
    color: black;
    padding: 10px;
}
article h2{
    color: yellow;
}
/* Buttons Section */
.button-div{
    margin-left: 33%;
}
.button-div button{

    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 45px;
}
.button-div #blue{
    background-color: blue;
}
.button-div #green{
    background-color: green;
}
.button-div #red{
    background-color: red;
}
.button-div #yellow{
    background-color: yellow;
    color: black;
}

